experimental_design_linalg.aux
experimental_design_linalg.bbl
experimental_design_linalg.blg
experimental_design_linalg.fdb_latexmk
experimental_design_linalg.fls
experimental_design_linalg.log
experimental_design_linalg.out
experimental_design_linalg.synctex.gz
experimental_design_linalg.thm
